.font40rem {
  font-size: 4rem;
}

.font20rem {
  font-size: 2rem;
}

.font16rem {
  font-size: 1.6rem;
}

.font14rem {
  font-size: 1.4rem;
}

.font11rem {
  font-size: 1.1rem;
}

.font1rem {
  font-size: 1rem;
}

.font09rem {
  font-size: 0.9rem;
}

.font08rem {
  font-size: 0.8rem;
}

.font07rem {
  font-size: 0.7rem;
}
