.backF7F7F7 {
  background-color: #F7F7F7;
}

.backE2E2E2 {
  background-color: #E2E2E2;
}

.backFFFFFF {
  background-color: #FFFFFF;
}

.backB5C401 {
  background-color: #B5C401;
}

.backEBEBEB {
  background-color: #EBEBEB;
}