.game-button {
  font-size: 0.9rem;
  font-weight: bold;
  font-style: italic;
  background: none;
  border: 2px solid;
  border-radius: 100px;
}

.selected-number {
  background-color: #27C383 !important;
}